[user]
	name = audreyschwarz
	email = acbschwarz@gmail.com
[alias]
	st = status
  dc = diff --cached
  d = diff
	pullr = pull --rebase
	co = checkout
[core]
	excludesfile = /home/audrey/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[color]
  status = auto
  ui = true
[color "status"]
  added = green
  changed = blue
  untracked = magenta
  deleted = red
[github]
	user = audreyschwarz
[push]
	default = simple
[merge]
	tool = vimdiff
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
